@use 'variables' as *;
@use 'functions' as *;
@use 'mixins' as *;

// CREDIT CARD
.payment__card {
  font-size: font-size(font-size-xxs);
  letter-spacing: 1.5px;

  @include media-big-tablet {
    font-size: font-size(font-size-ss);
  }
}

.payment__card-details {
  .payment__card-details--front-side__numbers {
    font-size: font-size(font-size-m);
    text-align: center;

    @include media-big-tablet {
      font-size: font-size(font-size-l);
      letter-spacing: 3px;
    }
  }
}

form label {
  font-size: font-size(font-size-xs);
  letter-spacing: 1.5px;
}

form input {
  font-size: font-size(font-size-s);
}

//CONFIMATION MESSAGE
.confimation-notice {
  &__title {
    text-transform: uppercase;
    font-size: font-size(font-size-l);
    font-weight: 500;
    letter-spacing: 2px;
  }

  &__para {
    color: color(color-placehoder);
    font-size: font-size(font-size-m);
  }
}
