@use '../abstracts/index' as *;

//big-tablet layout
@include media-big-tablet {
  main {
    display: grid;
    grid-template-columns: 483px 960px;
    grid-template-rows: 100vh;
  }
}

@include media-desktop {
  main {
    grid-template-columns: 483px 1060px;
  }
}

.payment__card {
  color: color(color-white);
  background: url('../images/bg-main-mobile.png') no-repeat center/cover;
  margin-bottom: 6rem;
  @include media-big-tablet {
    margin-bottom: 0;
  }
}

.background {
  height: 240px;
  width: 100%;
  position: relative;
  max-width: 700px;
  margin: 0 auto;

  @include media-big-tablet {
    height: 100vh;
  }
}

.payment__card--front-side,
.payment__card--back-side {
  position: absolute;
}

.payment__card--front-side img:first-of-type,
.payment__card--back-side img {
  width: 290px;

  @include media-big-tablet {
    width: 448px;
  }
}

// FRONT SIDE
.payment__card--front-side {
  position: absolute;
  left: calc(0.5rem + 3vw);
  bottom: -2.7rem;
  z-index: 2;

  @include media-big-tablet {
    bottom: 52%;
    left: 144px;
  }

  img {
    filter: drop-shadow(0px 35px 26px rgba(color(color-placehoder), 0.2));

    @include media-big-tablet {
      filter: drop-shadow(15px 15px 20px rgba(color(color-placehoder), 0.2));
    }
  }

  img.credit-card__logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 55px;

    @include media-big-tablet {
      top: 28px;
      left: 2rem;
    }
  }
}

.payment__card-details {
  position: absolute;
  bottom: 1.5rem;
  left: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 250px;

  @include media-big-tablet {
    width: 100%;
    max-width: 370px;
    left: 39px;
    bottom: 1.95rem;
    gap: 1.625rem;
  }

  .payment__card-details--front-side__numbers {
    width: 100%;
  }

  .payment__card-details--front-side__exp-date {
    margin-left: auto;
  }
}

// BACK SIDE
.payment__card--back-side {
  right: calc(0.5rem + 3vw);
  top: 2rem;

  @include media-big-tablet {
    top: 51%;
    left: calc(100px + 8vw);
    width: 100%;
  }

  @include media-desktop {
    left: 258px;
  }

  img {
    @include media-big-tablet {
      filter: drop-shadow(15px 15px 20px rgba(color(color-placehoder), 0.2));
    }
  }

  &__cvc {
    position: absolute;
    top: 48%;
    right: 2.3rem;
    transform: translate(0, -50%);

    @include media-big-tablet {
      right: 5.2rem;
    }
  }
}
