@use '../abstracts/index' as *;

.payment__card {
  color: color(color-white);
  background: url('../images/bg-main-mobile.png') no-repeat center/cover;
  margin-bottom: 6rem;
}

.background {
  height: 240px;
  width: 100%;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

.payment__card--front-side,
.payment__card--back-side {
  position: absolute;
}

.payment__card--front-side img:first-of-type,
.payment__card--back-side img {
  width: 290px;
}

// FRONT SIDE
.payment__card--front-side {
  position: absolute;
  left: calc(0.5rem + 3vw);
  bottom: -2.7rem;
  z-index: 2;

  img {
    box-shadow: 0px 35px 26px -10px rgba(color(color-placehoder), 0.2);
  }

  img.credit-card__logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 55px;
  }
}

.payment__card-details {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1.1rem;

  .payment__card-details--front-side__numbers {
    width: 100%;
  }
}

// BACK SIDE
.payment__card--back-side {
  right: calc(0.5rem + 3vw);
  top: 2rem;

  &__cvc {
    position: absolute;
    top: 48%;
    right: 2.3rem;
    transform: translate(0, -50%);
  }
}
