@use '../abstracts/index' as *;

section.payment__form {
  padding: 0 1rem 3rem;

  @include media-big-tablet {
    align-self: center;
  }
}

form#payment {
  max-width: 380px;
  margin: 0 auto;
}

form label {
  text-transform: uppercase;
  display: block;
  color: color(color-primary);
  margin-bottom: 0.6rem;
  font-weight: 500;
}

form input {
  border: 1px solid color(color-border);
  border-radius: $border-radius;
  padding: 0.5rem 1rem;
  width: 100%;
  overflow: hidden;
}

input:focus {
  outline: 0;
  border-width: 1.5px;
  border-top-color: color(color-border-2);
  border-left-color: color(color-border-2);
  border-right-color: color(color-border-1);
  border-bottom-color: color(color-border-1);
}

.payment__form--row:not(:last-of-type) {
  margin-bottom: 1.325rem;
}

.payment__form--row:last-of-type {
  margin-bottom: 1.725rem;
}

.payment__form--row:nth-child(3) {
  display: flex;
  align-items: flex-start;
  gap: 0.7rem;
}

// LAST ROW
.payment__form--col {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 40%;
}

.payment__form--col:first-of-type {
  width: 60%;

  label {
    width: 100%;
  }

  .input-wrapper {
    width: calc(50% - 0.5rem);
  }
}

button.btn-primary {
  width: 100%;
  background-color: color(color-primary);
  color: color(color-white);
  border: 0;
  cursor: pointer;
  padding: 1rem 0;
  border-radius: $border-radius;
  font-size: font-size(font-size-m);
  transition: transform 0.4s, opacity 0.4s;
  &:hover {
    transform: scale(1.03);
    opacity: 0.9;
  }
  &:active {
    transform: scale(1.01);
    opacity: 1;
  }
}

.error-message > p {
  margin-top: 0.5rem;
  font-size: font-size(font-size-xxs);
  color: color(color-error);
  font-weight: 500;
  display: none;
}

.error-message > input {
  border: 1px solid color(color-error);
}
